.form_name,
.form_email,
.form_password,
.form_confirm_password {
    border-radius: 3px;
}

.submit {
    background-color: rgb(25, 10, 233);
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
}